.DS_Store
/**/*.class
/zout
/ztmp
.idea
/out

# Topcoder Greed Plugin
/**/*.html
/**/*.sample

# JOI
a.out
/**/*.dSYM/**
/**/in/**
/**/out/**
/**/sample/**

# private 
/paiza/skillcheck/**/*
/Main.java

